{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="venu" class="section rad-animation-group">
  <div class="container">
    {{ range $index, $element := .Site.Data.homepage.map }}
    <div class="row rad-fade-down">
      <div class="col-12 col-md-7 pl-md-0 text-right">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15845.41984443695!2d79.97522049999999!3d6.847983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1645014261918!5m2!1sen!2slk"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title }}</h3>
        <p class="lead">{{ .description }}</p>
        <a href="{{ .button.URL | absURL }}" class="btn btn-primary"
          >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
        ></a>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
