{{ if .Site.Data.homepage.shedule.enable }}
<section
  class="section section--border-bottom rad-animation-group about"
  id="shedule"
>
  <div class="container">
    <div class="row rad-fade-down">
      <div class="col-lg-12">
        <!-- Tabs -->
        <ul class="nav nav-pills mb-3">
          <li class="col-md-3">
            <a class="nav-link active" data-toggle="tab" href="#tab1"
              >Conference</a
            >
          </li>
          <li class="col-md-3">
            <a class="nav-link" data-toggle="tab" href="#tab2">Hackathon </a>
          </li>
          <li class="col-md-3">
            <a class="nav-link" data-toggle="tab" href="#tab3">Side events</a>
          </li>
        </ul>
        <!-- End Tabs -->

        <!-- Tab Content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab1">
            <table class="table table-bordered">
              <tbody>
                {{ range .Site.Data.homepage.shedule.conference }}
                <tr>
                  <td>
                    <h6>{{ .time}}</h6>
                    <p>{{ .sub_time}}</p>
                  </td>
                  <td>
                    <h5>{{ .content}}</h5>
                    <p>{{ .sub_content}}</p>
                  </td>
                </tr>
                {{ end}}
              </tbody>
            </table>
          </div>
          <!-- End Tab 1 Content -->

          <div class="tab-pane fade show" id="tab2">
            <table class="table table-bordered">
              <tbody>
                {{ range .Site.Data.homepage.shedule.hackathon }}
                <tr>
                  <td>
                    <h6>{{ .time}}</h6>
                    <p>{{ .sub_time}}</p>
                  </td>
                  <td>
                    <h5>{{ .content}}</h5>
                    <p>{{ .sub_content}}</p>
                  </td>
                </tr>
                {{ end}}
              </tbody>
            </table>
          </div>
          <!-- End Tab 2 Content -->

          <div class="tab-pane fade show" id="tab3">
            <table class="table table-bordered">
              <tbody>
                {{ range .Site.Data.homepage.shedule.side_events }}
                <tr>
                  <td>
                    <h6>{{ .time}}</h6>
                    <p>{{ .sub_time}}</p>
                  </td>
                  <td>
                    <h5>{{ .content}}</h5>
                    <p>{{ .sub_content}}</p>
                  </td>
                </tr>
                {{ end}}
              </tbody>
            </table>
          </div>
          <!-- End Tab 3 Content -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
