{{ if .Site.Data.team.showcase.enable }}
<section
  class="rad-showcase rad-showcase--index rad-animation-group rad-fade-down"
>
  <div class="rad-showcase__bg">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.about.showcase.image.x | absURL }}"
      data-srcset="{{ .Site.Data.about.showcase.image.x | absURL }} 1x, {{ .Site.Data.homepage.showcase.image._2x | absURL }} 2x"
      alt="{{ .Site.Data.about.showcase.image.alt }}"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ .Site.Data.team.showcase.title }}
          <br />
          <span>{{ .Site.Data.team.showcase.subtitle }}</span>
        </h1>
        <p class="lead">
          {{ .Site.Data.team.showcase.description | safeHTML }}
        </p>
        <div class="btn-class">
          <a
            href="{{ .Site.Data.team.showcase.button.URL | absURL }}"
            class="btn btn-primary btn-new"
          >
            <i class="{{ .Site.Data.team.showcase.button.icon }} pr-8"></i>
            {{ .Site.Data.about.showcase.button.btnText }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile">
    <img
      class="lozad img-responsive"
      src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
      data-src="{{ .Site.Data.team.showcase.imageMobile.x | absURL }}"
      alt="{{ .Site.Data.team.showcase.imageMobile.alt }}"
    />
  </div>
</section>
{{ end }}
