<section class="section rad-animation-group pb-0 mar-btn" id="conference">
  <div class="container rad-fade-down">
    <div class="row d-flex justify-content-center text-center mt-5">
      <div class="col-12 col-md-7">
        <div
          data-tf-widget="oVR4O6xx"
          data-tf-iframe-props="title=My typeform"
          data-tf-medium="snippet"
          style="width: 100%; height: 600px"
        ></div>
        <script src="//embed.typeform.com/next/embed.js"></script>
      </div>
    </div>
  </div>
</section>
